.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.card {
    margin: 5px auto 0;  /* Ajusta el valor del margen superior según sea necesario */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff;
    width: 400px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: black;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.card-list {
    font-size: 1.3rem;
    
}

.list-group-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.card-footer {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.w-100 {
    width: 100%;
}
