<app-menu></app-menu>
<div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Agregar Usuario</h2>
            </div>
            <div class="card-body">
                <ul class="card-list">
                    <li class="list-group-item">Cedula</li>
                    <li class="list-group-item">Tipo Identificación</li>
                    <li class="list-group-item">Fecha de Nacimiento</li>
                    <li class="list-group-item">Edad</li>
                    <li class="list-group-item">Teléfono</li>
                    <li class="list-group-item">Correo</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100" routerLink="/">Volver</button>
            </div>
        </div>
    </div>
    
</div>


